@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

/* font-family: "Prompt", sans-serif; */

*{
    text-decoration: none;
    list-style:none;
}


body{
    background-color:none;
 }


 .menu-principal{
    display: flex;
 }

.menu-principal .link{
    font-size:23px;
    margin:6px;
    padding-top:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}


.menu-principal .link{
    font-family:"Prompt", sans-serif ;
    font-weight:normal;
    text-transform: capitalize;
    text-decoration: none;
    color:#222222;
    padding:20px;
    margin:8px;
    font-size:24px;
}

.pesquisa input{
    width:500px;
    height:40px;
    color:#222222;
    outline:0;
    font-size:20px;
    padding-left:10px;
    border-style:solid;
    border-color:transparent;
    box-shadow:2px 2px 2px 2px rgb(128, 128, 128,0.3);
    background-color:transparent;    
    font-family:"Quicksand", sans-serif ;
}

 .pesquisa button{
    width:100px;
    height:42px;
    color:#f0f8ff;
    font-size:20px;
    border-style:none;
    border-radius:5px;
    background-color:#FEBA17;
    box-shadow:2px 2px 2px 2px rgb(128, 128, 128,0.3);
 }

.services{
    
    background-color:transparent;
    
}

.all-services{
    height:400px;
    width:400px;
    margin:20px;
    display: inline-flex;
    background-color:rgb(128, 128, 128,0.2);
    background-image: url('./../images/info.webp');
    box-shadow:2px 2px 2px 2px rgb(0, 0, 0,0.3);
    background-position:center;
    background-repeat: no-repeat;
    background-size:200px;
}

.pesquisa{
    margin-left:15%;
}


h1{
    font-size:40px;
    text-align: center;
    color: #222222;
    font-family:"Prompt", sans-serif;
}

h2{
    font-size:30px;
    text-align: center;
    color: #222222;
    font-family:"Prompt", sans-serif;

}


p{
    font-family: "Prompt", sans-serif;
    color: #222222;
    text-indent:left;
}


.vitrine{
    background-color:#222222;
}

.service-area{
    color: #f0f8ff;
}

.logo{
    display: inline-flex;
}

.menu{
    display: inline-flex;
    margin:0 auto;
}

.social a{
    display: inline;
    float: inline-end;
}


/* resposive */

@media(width>=360px){

    *{
        margin:0;
    }
    body{
        background-color:none;
     }
    
    
     /* .menu-principal{ 
        display: flex;
     }
    */
    .menu-principal .link{
        font-size:8px;
        margin:3px;
        padding-top:10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    }
    
    
    .menu-principal .link{
        font-family:"Prompt", sans-serif ;
        font-weight:normal;
        text-transform: capitalize;
        text-decoration: none;
        color:#222222;
        padding:5px;
        margin:3px;
        font-size:8px;
        display: inline-flex;
    }
    
    .pesquisa input{
        width:150px;
        height:30px;
        color:#222222;
        outline:0;
        font-size:10px;
        padding-left:5px;
        border-style:solid;
        border-color:transparent;
        box-shadow:2px 2px 2px 2px rgb(128, 128, 128,0.3);
        background-color:transparent;    
        font-family:"Quicksand", sans-serif ;
        margin-bottom:10px;
    }
    
     .pesquisa button{
        width:90px;
        height:30px;
        color:#f0f8ff;
        font-size:10px;
        border-style:none;
        border-radius:2.5px;
        background-color:#FEBA17;
        box-shadow:2px 2px 2px 2px rgb(128, 128, 128,0.3);
        margin-bottom:10px;
     }
    
    .services{
        
        background-color:transparent;
        
    }
    
    .all-services{
        height:340px;
        width:340px;
        margin:15px;
        margin-left:10px;
        margin-right:10px;
        display:list-item;
        background-color:rgb(128, 128, 128,0.2);
        background-image: url('./../images/info.webp');
        box-shadow:2px 2px 2px 2px rgb(0, 0, 0,0.3);
        background-position:center;
        background-repeat: no-repeat;
        background-size:100px;
    }
    
    .pesquisa{
        margin-left:8%;
    }
    
    
    h1{
        font-size:20px;
        text-align: center;
        color: #222222;
        font-family:"Prompt", sans-serif;
        margin-left:2.5px;
        margin-right:2.5px;
    }
    
    h2{
        font-size:15px;
        text-align: center;
        color: #222222;
        font-family:"Prompt", sans-serif;
    
    }
    
    
    p{
        font-family: "Prompt", sans-serif;
        font-size:12px;
        color: #222222;
        text-indent:center;
        margin-left:10px;
        margin-right:10px;
    }
    
    
    .vitrine{
        background-color:#222222;
    }
    
    .service-area{
        font-size:20px;
        color: #f0f8ff;
    }
    
    .logo{
        display: inline-flex;
    }

    .logo img{
        width:80px;
    }
    
    .menu{
        display: inline-flex;
        margin:0 auto;
    }
    
    .social a{
        display: inline;
        float: inline-end;
    }



    .navbar{
        background-color: #222222;
        height:50px;
        display: flex;
    }

    
    .navbar .link{
        font-family:"Prompt", sans-serif ;
        font-weight:lighter;
        text-transform: capitalize;
        text-decoration: none;
        color:#f0f8ff;
        /* padding:20px; */
        margin:5px;
        font-size:10px;
        padding-left:5%;
    }


     .navbar .image-logo{
        background-image:url('../../assets/images/brasao-matias.webp');
        background-repeat: no-repeat;
        background-size:15px;
        background-position:left;


        
    }
    
}   

/* responsive grande */
@media(width>=1240px){
    body{
        background-color:none;
     }
    
    
     .menu-principal{
        display: flex;
     }
    
    .menu-principal .link{
        font-size:23px;
        margin:6px;
        padding-top:20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    }
    
    .navbar{
        background-color: #222222;
        height:90px;
        display: flex;
    }

    
    .navbar .link{
        font-family:"Prompt", sans-serif ;
        font-weight:lighter;
        text-transform: capitalize;
        text-decoration: none;
        color:#f0f8ff;
        /* padding:20px; */
        margin:10px;
        font-size:24px;
        padding-left:2%;
    }


     .navbar .image-logo{
        background-image:url('../../assets/images/brasao-matias.webp');
        background-repeat: no-repeat;
        background-size:50px;
        background-position:left;
    }
    
    .pesquisa input{
        width:500px;
        height:40px;
        color:#222222;
        outline:0;
        font-size:20px;
        padding-left:10px;
        border-style:solid;
        border-color:transparent;
        box-shadow:2px 2px 2px 2px rgb(128, 128, 128,0.3);
        background-color:transparent;    
        font-family:"Quicksand", sans-serif ;
    }
    
     .pesquisa button{
        width:100px;
        height:42px;
        color:#f0f8ff;
        font-size:20px;
        border-style:none;
        border-radius:5px;
        background-color:#FEBA17;
        box-shadow:2px 2px 2px 2px rgb(128, 128, 128,0.3);
     }
    
    .services{
        
        background-color:transparent;
        
    }
    
    .all-services{
        height:400px;
        width:400px;
        margin:20px;
        display: inline-flex;
        background-color:rgb(128, 128, 128,0.2);
        background-image: url('./../images/info.webp');
        box-shadow:2px 2px 2px 2px rgb(0, 0, 0,0.3);
        background-position:center;
        background-repeat: no-repeat;
        background-size:200px;
    }
    
    .pesquisa{
        margin-left:15%;
    }
    
    
    h1{
        font-size:40px;
        text-align: center;
        color: #222222;
        font-family:"Prompt", sans-serif;
    }
    
    h2{
        font-size:30px;
        text-align: center;
        color: #222222;
        font-family:"Prompt", sans-serif;
    
    }
    
    
    p{
        font-family: "Prompt", sans-serif;
        color: #222222;
        text-indent:left;
    }
    
    
    .vitrine{
        background-color:#222222;
    }
    
    .service-area{
        color: #f0f8ff;
        font-size:30px;
    }
    
    .logo{
        display: inline-flex;
    }

    .log img{
        width:300px;

    }
    
    .menu{
        display: inline-flex;
        margin:0 auto;
    }
    
    .social a{
        display: inline;
        float: inline-end;
    }


    .navbar{
        background-color: #222222;
        height:90px;
        display: flex;
    }

    
    .navbar .link{
        font-family:"Prompt", sans-serif ;
        font-weight:lighter;
        text-transform: capitalize;
        text-decoration: none;
        color:#f0f8ff;
        /* padding:20px; */
        margin:10px;
        font-size:24px;
        padding-left:2%;
    }


     .navbar .image-logo{
        margin-left:5%;
        width:50px;
    }
}